.one {
    background-color: rgb(8, 209, 209);
    position: relative; 
    border-radius: 0.5rem;
}

.two {
    
}

.three {
margin: 2rem;
border: solid black;
padding: 0.5rem;
border-radius: 0.5rem;

}

.container {
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 1350px;
    height: 600px;
    margin: 2rem;
    align-items: center;
    
}

.box1 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 900px;
    height: 400px;
    display: inline-block;
}
.box2 {
    position: absolute;
    background-color: rgb(247, 242, 240);
    width: 900px;
    height: 400px;
    display: inline-block;
}
.box3 {
    position: absolute;
    background-color: rgb(247, 242, 240);
    width: 900px;
    height: 400px;
    display: inline-block;
}



.parent-img {
    position: relative;
    justify-content: space-around;
}

img {
    width: 400px;
    height: 200px;
    
}