* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  display: inline-block;
}

nav li a {
  text-decoration: line;
}

.one {
  background-color: rgb(50, 4, 88);
  position: relative;
  border-radius: 0.5rem;
  margin: 15px;
  padding: 25px;
  text-align: center;
  text-align: center;
    box-shadow: inset 0 -3em 3em rgba(29, 183, 230, 0.3),
0 0 0 2px white,
0.3em 0.3em 1em rgba(2, 15, 136, 0.6);;
}

#o,
#t,
#th {
  font-size: 30px;
  color: white;
}
#f1, #f2, #f3, #f4 {
  text-align: center;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.5rem;
  border-radius: 2rem;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  margin: 2rem;
  margin-bottom: 50px;
  box-shadow: inset 0 -15em 3em rgba(29, 183, 230, 0.3),
0 0 0 2px white,
0.3em 0.3em 1em rgba(2, 15, 136, 0.6);;
}

.box {
  background-color: rgb(103, 116, 233);
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: inset 0 -8em 3em rgba(92, 7, 228, 0.3),
           0 0 0 2px white,
           0.3em 0.3em 1em rgba(2, 15, 136, 0.6);;
}

.img {
  width: 300px;
  height: 200px;
  bottom: 300px;
  left: 5px;
  border-radius: 5%;
  display: block;
}

.table {
  background-color: rgb(50, 4, 88);
  color: white;
  
}

.color {
  background-color: rgb(103, 116, 233);
}

@media (max-width: 500px) {
  .box,
  .img {
    width: 250px;
  }
}
